/* FONTS */

@font-face {
  font-family: 'VAGRoundedStd';
  src: url('../fonts/VAGRoundedStd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'VAGRoundedStd';
  src: url('../fonts/VAGRoundedStd-Black.otf') format('opentype');
  font-weight: bold;
}


/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}


body {
	 /*background-position: top center; */
     margin-bottom: 200px;
	 font-size: 13px;
	 color: #585858;
	 
 }
 
 p{
	 font-family: "VAGRoundedStd";
     font-size: 16px;	 
 }


 h1 {
      font-family: "VAGRoundedStd";
      font-size: 26px;
  }
 
 
 h2 {
      font-family: "VAGRoundedStd";
      font-size: 24px;
  }


  h3 {
       font-family: "VAGRoundedStd";
       font-size: 18px;
   }
      

/* Header */   

   .header{
	   margin: 0 0 60px 0;
   }
       
  .logo {
	  height: 60px;
  }
  
  
/* MAIN PAGE */  
  
  .chatBlockUs{
	  margin: 0 0 10px 5px;
  }
  
  .chatBlockThem{
	  margin: 0 5px 10px 0;	  

  }
    
  
  .chatUser{
	  margin: 0 0 0 0;

  }
  
  .chatUser img {
	  height: 40px;
  }
  
  
  
  .chatBubble{
	  float: left;
	  position: relative;
	  background: #34ABDA;
	  max-width: 470px;
	  min-width: 100px;

	  padding: 4px 15px 10px 25px;
	  
	  z-index: 1000;	
	  word-wrap: break-word;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 20px;
	  -webkit-transform: translate3d(0,0,0); /*Samsung android zindex problem fix? */

  }
  

  .chatBubble:after {
	  content: '';
	  position: absolute;
	  border-style: solid;
	  border-width: 0 10px 8px;
	  border-color: #34ABDA transparent;
	  display: block;
	  width: 0;
	  z-index: 1;
	  margin-left: -10px;
	  top: -8px;
	  left: 40px;  
  }
  
  
  .causalCard {
	  text-align: center;
	  background: url('../img/causal_curvas.png') no-repeat;
	  background-position: top left;
	  background-size: 90px 180px;	  
      border: 1px solid #E7EAEC;
	  height: 166px;
	  width: 300px;
    	-webkit-border-radius: 10px;
    	-moz-border-radius:10px;
   		border-radius:10px;
  	  	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
  	  	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
  	  	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05);
  }
  
  .callout{
	  
  }
  
  
  .title {
	  margin: 26px 0px 0px 5px;   	
  }  
 
 
 
/* Sections */
  
 #caseStudy{
  background-color: #34ABDA;
  padding: 20px 0 30px 0;
  min-height: 500px;
 }
 
 .screenshot{
	 height: 400px;
 }
 
 
 #contactUs{
  background-color: white;
  padding: 20px 0 30px 0;
  min-height: 500px;
 }
 
 
 #footer{
  background-color: darkgrey;
  padding: 20px 0 30px 0;
  min-height: 500px;
 }
 
  
  
  
  
  
/* Global Functions & Utilities  */
  
  /* Standard resources */


  .circulo img{
	  height: 40px;
  }

  
  .circuloSmall img{
	  height: 40px;
  }
  
  .titleSmall {
	  margin: 0px 0px 0px 0px;   
  }  
  
  
  /* Color pallete */
  
  .whiteF{
	   color: white;
  }
  
  .grey{
  	   background-color: #A8A8A8 ;
  }
  
  .causalBar{
   	height: 5px;
	background-color: #707070;
	background: url('../img/causal_lineaH.png') repeat-x;
	background-position: top center;
   
  }
  
  
  
  
  
  /* Postitioning, Alignment & Special Media */
  
  .right{
	  float: right;
  }
  
  .left{
	  float: left;
  }
  
  .center{
	  margin: 0 auto;
  }
  
  
  .hideSM{
	  display: block;
  }
  
  
  
  /* Media Screen Breakpoints */
  
  @media(max-width:768px) {
	  
	  .hideSM{
		  display: none;
	  }
	  
	  
  }
  
  
  
  



  

  
  
  