/* FONTS */

@font-face {
  font-family: 'VAGRoundedStd';
  src: url('../fonts/VAGRoundedStd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'VAGRoundedStd';
  src: url('../fonts/VAGRoundedStd-Black.otf') format('opentype');
  font-weight: bold;
}


/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}


body {
	 /*background-position: top center; */
     margin-bottom: 200px;
	 font-size: 13px;
	 color: #585858;
	 
 }
 
 p{
	 font-family: "VAGRoundedStd";
     font-size: 16px;	 
 }
 
 
 h2 {
      font-family: "VAGRoundedStd";
      font-size: 18px;
  }


  h3 {
       font-family: "VAGRoundedStd";
       font-size: 18px;
   }
      

/* Header */   

   .topbar{
	   height: 5px;
   	   background-color: #707070;
	   
   }

   .header{
	   margin: 0 0 60px 0;
   }
       
  .logo {
	  height: 60px;
  }
  
  
/* CHAT MAIN PAGE */  
  
  .chatBlockUs{
	  margin: 0 0 10px 5px;
  }
  
  .chatBlockThem{
	  margin: 0 5px 10px 0;	  

  }
    
  
  .chatUser{
	  margin: 0 0 0 0;

  }
  
  .chatUser img {
	  height: 40px;
  }
  
  
  
  .chatBubble{
	  float: left;
	  position: relative;
	  background: #34ABDA;
	  max-width: 470px;
	  min-width: 100px;

	  padding: 15px 25px 20px 25px;
	  
	  z-index: 1000;	
	  word-wrap: break-word;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 20px;
	  -webkit-transform: translate3d(0,0,0); /*Samsung android zindex problem fix? */

  }
  

  .chatBubble:after {
	  content: '';
	  position: absolute;
	  border-style: solid;
	  border-width: 0 10px 8px;
	  border-color: #34ABDA transparent;
	  display: block;
	  width: 0;
	  z-index: 1;
	  margin-left: -10px;
	  top: -8px;
	  left: 40px;  
  }
  
  
  
/* Main Page: Content Sections */
  
  .title {
	  margin: 26px 0px 0px 5px;   	
  }  
 
 
 .blueSection {
  background-color: #34ABDA;
  min-height: 400px;
 }
  
  
  
  
  
/* Global Functions & Utilities  */
  
  /* Color pallete */
  
  .whiteF{
	   color: white;
  }
  
  .grey{
  	   background-color: #A8A8A8 ;
  }
  
  
  
  /* Postitioning & Alignment */
  
  .right{
   float: right;
  }
  
  .left{
	  float: left;
  }
  
  .hideXS{
	  display: block;
  }
  
  
  
  /* Media Screen Breakpoints */
  
  @media(max-width:480px) {
	  
	  .hideXS{
		  display: none;
	  }
	  
	  
  }


  

  
  
  